.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Zona superior (sidebar + contenido) */
.layout-content {
  flex: 1;
  display: flex;
}

/* Contenido central */
.main {
  width: 100%;
  padding: 20px;
}
